<div id="fh5co-blog" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Recent Blog</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/img-1.jpg" alt=""></a>
                    <div class="blog-text">
                        <span class="posted_on">Nov. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
                        <h3><a href="#">Get Free Template</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/img-2.jpg" alt=""></a>
                    <div class="blog-text">
                        <span class="posted_on">Nov. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
                        <h3><a href="#">Download Bundle Templates 2017</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div> 
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="images/img-3.jpg" alt=""></a>
                    <div class="blog-text">
                        <span class="posted_on">Nov. 15th</span>
                        <span class="comment"><a href="">21<i class="icon-bubble"></i></a></span>
                        <h3><a href="#">Inspirational Website</a></h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>