<div id="fh5co-about">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Meet Our Staff</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co-staff">
                        <img class="img-responsive" src="img/user-1.jpg" alt="Free HTML5 Templates by freeHTML5.co">
                        <h3>Jean Smith</h3>
                        <strong class="role">CEO, Founder</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat</p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter2"></i></a></li>
                            <li><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co-staff">
                        <img class="img-responsive" src="img/user-2.jpg" alt="Free HTML5 Templates by freeHTML5.co">
                        <h3>Hush Raven</h3>
                        <strong class="role">System Analyst</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat</p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter2"></i></a></li>
                            <li><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co-staff">
                        <img class="img-responsive" src="img/user-3.jpg" alt="Free HTML5 Templates by freeHTML5.co">
                        <h3>Alex King</h3>
                        <strong class="role">Web Developer</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat</p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter2"></i></a></li>
                            <li><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3 animate-box" data-animate-effect="fadeIn">
                    <div class="fh5co-staff">
                        <img class="img-responsive" src="img/user-4.jpg" alt="Free HTML5 Templates by freeHTML5.co">
                        <h3>Hush Raven</h3>
                        <strong class="role">Web Designer</strong>
                        <p>Quos quia provident consequuntur culpa facere ratione maxime commodi voluptates id repellat</p>
                        <ul class="fh5co-social-icons">
                            <li><a href="#"><i class="icon-twitter2"></i></a></li>
                            <li><a href="#"><i class="icon-facebook2"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble2"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
