<footer>
    <div id="footer">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <h3 class="section-title text-left">Nossos Serviços</h3>
                    <p style="color: seashell;" class="text-justify">
                        Oferecemos serviços de atendimento a pacientes com Ambulância. Realizamos atendimento pré hospitalar 24 hrs. Trabalhamos com a modalidade de Área protegida tanto residencial como empresarial. Ministramos cursos de primeiros socorros e brigada de incêndio.
                    </p>


                </div>

                <div class="col-md-4 col-md-push-1">
                    <h3 class="section-title text-left">Links</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="remocao.html">Remoção com Ambulância</a></li>
                        <li><a href="atendimento_pre_hospitalar.html">Atendimento Pré Hospitalar</a></li>
                        <li><a href="area_protegida.html">Área Protegida</a></li>
                        <li><a href="cursos_palestras.html">Cursos e Palestras</a></li>
                        <li><a href="cobertura_eventos.html">Cobertura de Eventos</a></li>
                        <li><a href="about.html">Sobre Nós</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3 class="section-title text-left">Informações</h3>
                    <ul>

                        <li><a href="politica.html">Política de Privacidade</a></li>
                        <li><a href="contact.html">Contato</a></li>
                    </ul>
                </div>
                <!--
                    <div class="col-md-3">
                        <h3 class="section-title">Newsletter</h3>
                        <p>Subscribe for our newsletter</p>
                        <form class="form-inline" id="fh5co-header-subscribe">
                            <div class="row">
                                <div class="col-md-12 col-md-offset-0">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                        <button type="submit" class="btn btn-default"><i class="icon-paper-plane"></i></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                 -->

                <div class="row copy-right">

                    <div class="col-md-6 col-md-offset-3 text-center">
                        <hr />
                        <!-- social icons white -->
                        <p class="fh5co-social-icon_white text-center">

                            <a href="index.html"><i class="icon-home" title="Voltar a Página Principal"></i></a>
                            <a href="https://wa.me/5549991647149" target="_blank"><i class="icon-whatsapp" title="Chame agora no Whats"></i></a>
                            <a href="tel:+5549991647149"><i class="icon-phone3" title="Ligue agora, aqui!"></i></a>
                            <a href="https://twitter.com/VidasMissao" target="_blank"><i class="icon-twitter2" title="Siga-nos no Twitter" target="_blank"></i></a>
                            <a href="https://www.facebook.com/Miss%C3%A3o-Salvar-Vidas-248550959061479/" target="_blank"><i class="icon-facebook2" title="Curta nossa página no Facebook"></i></a>
                            <a href="https://www.instagram.com/missao_salvar_vidas/" target="_blank"><i class="icon-instagram" title="Siga-nos no Instagram"></i></a>
                            <a href="contact.html"><i class="icon-email"  title="Entre em Contato missaosalvasvidas@gmail.com"></i></a>


                        </p>
                        <hr />

                        <p style="color: seashell;">&copy Missão Salvar Vidas. Todos os Direitos Reservados. </p>
                        <p style="color: seashell; font-size: 1.5rem;">
                            Desenvolvimento: <a href="https://www.scheffer.eti.br" target="_blank">Scheffer Consultoria Ltda.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</footer>