<div id="fh5co-work-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Projects</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center animate-box">
                <div class="work" style="background-image: url(images/img-1.jpg);">
                    <a href="#" class="view">
                        <span>View Demo</span>
                    </a>
                </div>
            </div>
            <div class="col-md-8 text-center animate-box">
                <div class="work" style="background-image: url(images/img-2.jpg);">
                    <a href="#" class="view">
                        <span>View Demo</span>
                    </a>
                </div>
            </div>
            <div class="col-md-7 text-center animate-box">
                <div class="work" style="background-image: url(images/img-3.jpg);">
                    <a href="#" class="view">
                        <span>View Demo</span>
                    </a>
                </div>
            </div>
            <div class="col-md-5 text-center animate-box">
                <div class="work" style="background-image: url(images/img-4.jpg);">
                    <a href="#" class="view">
                        <span>View Demo</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
