<aside id="fh5co-hero" class="js-fullheight">
<div class="flexslider js-fullheight">
    
     

<ul class="slides">
 
<li style="background-image: url(images/slide1_1.jpg);">
    <div class="overlay-gradient"></div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
            <div class="slider-text-inner">
                <div class="desc">
                    <span>Missão Salvar Vidas</span>
                    <h2>A vida não pode esperar.</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </div>
</li>

<li style="background-image: url(images/slide1_2.jpg);">
    <div class="overlay-gradient"></div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
            <div class="slider-text-inner">
                <div class="desc">
                    <span>Jan. 07, 2016</span>
                    <h2>Be Creative, Be Good To Your Work</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>

                </div>
            </div>
        </div>
    </div>
</li>

<li style="background-image: url(images/slide1_3.jpg);">
    <div class="overlay-gradient"></div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
            <div class="slider-text-inner">
                <div class="desc">
                    <span>Jan. 06, 2016</span>
                    <h2>Inspirational Website Of Year 2017</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </div>
</li>

<li style="background-image: url(images/slide1_3.jpg);">
    <div class="overlay-gradient"></div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2 col-md-push-4 js-fullheight slider-text">
            <div class="slider-text-inner">
                <div class="desc">
                    <span>Jan. 06, 2016</span>
                    <h2>Teste</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
            </div>
        </div>
    </div>
</li>

</ul>

</div>
</aside>