
    <a href="index.html"><i class="icon-home" title="Voltar a Página Principal"></i></a>
    <a href="https://wa.me/5549991647149" target="_blank"><i class="icon-whatsapp" title="Chame agora no Whats"></i></a>
    <a href="tel:+5549991647149"><i class="icon-phone3" title="Ligue agora, aqui!"></i></a>
    <a href="https://twitter.com/VidasMissao" target="_blank"><i class="icon-twitter2" title="Siga-nos no Twitter" target="_blank"></i></a>
    <a href="https://www.facebook.com/Miss%C3%A3o-Salvar-Vidas-248550959061479/" target="_blank"><i class="icon-facebook2" title="Curta nossa página no Facebook"></i></a>
    <a href="https://www.instagram.com/missao_salvar_vidas/" target="_blank"><i class="icon-instagram" title="Siga-nos no Instagram"></i></a>
    <a href="contact.html"><i class="icon-email" title="Entre em Contato missaosalvasvidas@gmail.com"></i></a>
