
 
	
	<div id="fh5co-page">
	


		<!-- aside -->
		
        <aside id="fh5co-hero" class="js-fullheight">
				<div class="flexslider js-fullheight">
					
					 
		
				<ul class="slides">
				


			


				</ul>
				
				</div>
			</aside>
		
		

	
		
		


		

   
		



	  <!-- bloco de contadores-->
		<hr />


	 
		<div class="fh5co-counters" style="background-image: url(img/hero.jpg);" data-stellar-background-ratio="0.5" id="counter-animate">
			<div class="fh5co-narrow-content animate-box">
				<div class="row" >
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="332" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Eventos Atendidos</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="35" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Cursos Ministrados</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="778" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Profissionais Treinados</span>
					</div>
					<div class="col-md-3 text-center">
						<span class="fh5co-counter js-counter" data-from="0" data-to="432" data-speed="5000" data-refresh-interval="50"></span>
						<span class="fh5co-counter-label">Emergencias</span>
					</div>

				</div>
			</div>
		</div>
	
		

		<div id="footer_box"></div>

	
	
	</div>

	