<h3>A vida não pode esperar!</h3>
<p>Remoção intra-hospitalar, remoção para fisioterapia, exames ambulatoriais, consultas, remoção entre residências. Remoções com Ambulância. </p>
<p>Ambulancias preparadas e equipadas com regulação médica.</p>
<p>Profissionais qualificados e capacitados</p>
<p>Atendimento imediato pelo plantonista</p>

<p><strong>Remoções Simples:</strong>
    <ul>
        <li>Quando o paciente necessita se deslocar e cuidados especiais </li>
        <li>Encaminhamento para internações</li>
        <li>Transferências entre unidades hospitalares</li>
        <li>Deslocamentos de pacientes em geral</li>
    </ul>
</p>
<!--
<p><strong>Remoções UTI Móvel:</strong>
    <ul>
        <li>Remoção para internações com maior complexidade</li>
        <li>Transferências entre unidades hospitalares</li>
    </ul>
</p>
-->
<p><strong>Viagens:</strong>
    <ul>
        <li>Atendemos toda a região sul do país.</li>
    </ul>

</p>