<h3>Proteção especial a você ou sua empresa</h3>
<p>
    Seus clientes e funcionários encontrarão maior segurança e tranquilidade quando sua empresa possui cobertura por Área Protegida, dentro do seu espaço físico.
</p>
<p>
    Esta modalidade de atendimento disponibiliza para o local da Área protegida uma Ambulância quando solicitado.
</p>

<p>
    O Serviço de Área Protegida engloba os serviços de Remoção e Atendimento Pré Hospitalar. Disponibilizando unidade móvel de saúde básica ou UTI, conforme necessidade.
</p>