<h3>Sua vida é nossa prioridade </h3>
<p>
    Realizada por nossa equipe fora do ambiente hospitalar. O Atendimento pré-hospitalar (APH) é um conjunto
    de ações médicas de emergência. Esse tipo de atendimento geralmente é feito a pacientes que apresentam 
    vários tipos de distúrbios sendo clínicos e tramáticos.
 </p>
  <p>
    Esta modalidade de atendimento, visa a estabilização clínica e remoção do paciente para uma 
    unidade hospitalar adequada.
  </p>
  <p>Ambulâncias com medicamentos e regulação médica 24 horas. Profissionais qualificados e 
    capacitados para cada atendimento.
    Atendemos em domicílio, no conforto do seu lar.
  </p>
  <p>Evite filas, chamou missão chegou!</p>

  
   