<h3>Cursos e Paletras</h3>
<p>
    Até que a ajuda especializada chegue, importante é manter uma vítima de acidente ou algum mal 
    súbito em segurança, para evitar o agravamento de seu estado clínico. Primeiros socorros, são os primeiros
    procedimentos realizados na vítima até a chegada da unidade de socorro especializada.
</p>

<p>Ministramos cursos e palestras em escolas e empresas em geral. Visando sempre treinar e capacitar 
        pessoas para aplicar primeiros socorros e prevenção à acidentes nas mais diversas áreas. 
</p>
<p>&nbsp;</p>
<p>
    Esteja apto a salvar vidas.
</p>