<h3>Proteção e segurança ao seu evento </h3>
<p>
    Realizamos cobertura de eventos com unidade de saúde. 
    Eventos empresariais, shows, jogos de futebol e eventos de alta periculosidade com UTI móvel ou 
    Ambulância Básica, com equipe especializada.
</p>
<p>Ambulâncias preparadas e equipadas, médico, enfermeiro, técnico em enfermagem, 
        socorrista e brigadista.
</p>
    
<p>3 ambulâncias preparadas e equipadas incluindo 1 UTI móvel, com medicamentos e materiais de atendimento pré 
        hospitalar. Quando da utilização de ambulância básica, contamos com serviço de regulação médica.
        
</p>
