<p>Cursos e Paletras com Profissionais do mais alto nível de experiência </p>
<p>Ministramos cursos e palestras em escolas e empresas em geral. Visando sempre treinar e capacitar 
pessoas para aplicar primeiros socorros e prevenção à acidentes nas mais diversas áreas. 
</p>